.caption-header {
  font-size: 400%;
  text-shadow: 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black,
    0 0 4px black, 0 0 4px black, 0 0 4px black, 0 0 4px black;
}

.carousel-caption {
  transform: translateY(-50%);
  bottom: initial;
  top: 50%;
}

@media screen and (max-width: 480px) {
  .caption-header {
    font-size: 290%;
  }
}
